<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title> 
</head>
<body>
    <div>
        <div>
            <h2>Home Page</h2>
        </div>
        <div>
            <a class="btn btn-success" href="/countries/all">List all countries</a>
            <br>
            <a class="btn btn-success mt-1" href="/cities/all">List all cities</a>
            <br>
            <a class="btn btn-success mt-1" href="/heads/all">List of Heads of State</a>
        </div>
    </div>
</body>
</html>